.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.App main {
  display: grid;
  grid-template-columns: 1fr 2.75fr;
  grid-column-gap: 2em;
  width: 100%;
  height: 100%;
}


.App .Wrapper_block_displays {
  display: grid;
  grid-template-rows: 1fr 5fr;
  border: 2px solid #eef0f23d;
  margin-bottom: 4em;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-right: 4em;
}

.Wrapper_block_displays div h1 {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 1em;
  font-weight: normal;
  transition: .1s ease;
  -webkit-transition: .1s ease;
  -moz-transition: .1s ease;
  -ms-transition: .1s ease;
  -o-transition: .1s ease;
}

.Wrapper_block_displays div h1:hover {
  font-weight: 800;
  transition: .1s ease;
  -webkit-transition: .1s ease;
  -moz-transition: .1s ease;
  -ms-transition: .1s ease;
  -o-transition: .1s ease;
}
